:root {
  /* =====================================
   * Color Pallette
   * =====================================
   * Names of hex values as variable
   * identifiers
   */
  --black: #000;
  --candyCorn: #fbe655;
  --carnation: #f35667;
  --cerise: #da49b2;
  --codGray: #171717;
  --crusta: #fd763f;
  --gallery: #efefef;
  --jungleGreen: #2eaa86;
  --lochmara: #0579c6;
  --thunderbird: #cf1b1a;
  --tundora: #4a4a4a;
  --westar: #dbd6d0;
  --white: #fff;

  /* =====================================
   * Color Pallette
   * =====================================
   * Color names approximated to simpler
   * names
   */
  --blackish: var(--codGray);
  --blue: var(--lochmara);
  --darkGray: var(--tundora);
  --green: var(--jungleGreen);
  --lightGray: var(--westar);
  --orange: var(--crusta);
  --pink: var(--carnation);
  --purple: var(--cerise);
  --red: var(--thunderbird);
  --whiteish: var(--gallery);
  --yellow: var(--candyCorn);

  /* =====================================
   * Color Aliases
   * =====================================
   */
  --darkestContrastBGColor: var(--blackish);
  --defaultColor: var(--blue);
  --defaultColorHover: color(var(--defaultColor) lightness(50%));
  --deleteColor: var(--pink);
  --errorColor: var(--pink);
  --insertColor: var(--green);
  --lightestContrastBGColor: var(--whiteish);
  --lighterContrastBGColor: var(--lightGray);
  --lightContrastBGColor: var(--darkGray);
  --markColor: var(--yellow);
  --successColor: var(--green);
  --warningColor: var(--orange);
}
