:root {
  /* =====================================
   * Color Pallette
   * =====================================
   * Names of hex values as variable
   * identifiers
   */
  --black: #000;
  --candy-corn: #fbe655;
  --carnation: #f35667;
  --cerise: #da49b2;
  --cod-gray: #171717;
  --crusta: #fd763f;
  --dove-gray: #666;
  --gallery: #efefef;
  --jungle-green: #2eaa86;
  --lochmara: #0579c6;
  --thunderbird: #cf1b1a;
  --tundora: #4a4a4a;
  --tundora--light: #444;
  --westar: #dbd6d0;
  --white: #fff;

  /* =====================================
   * Color Pallette (Simple)
   * =====================================
   * Color names approximated to simpler
   * names
   */
  --blackish: var(--cod-gray);
  --blackish--light: var(--tundora--light);
  --blackish--lighter: var(--dove-gray);
  --blue: var(--lochmara);
  --gray--dark: var(--tundora);
  --gray--light: var(--westar);
  --green: var(--jungle-green);
  --orange: var(--crusta);
  --pink: var(--carnation);
  --purple: var(--cerise);
  --red: var(--thunderbird);
  --whiteish: var(--gallery);
  --yellow: var(--candy-corn);

  /* =====================================
   * Color Aliases
   * =====================================
   * Elements color property values should
   * prefer to use these instead of above
   *
   */
  --color--primary: var(--blue);
  --color--delete: var(--pink);
  --color--error: var(--pink);
  --color--foreground--darkest: var(--blackish);
  --color--foreground--light: var(--gray--dark);
  --color--foreground--lighter: var(--gray--light);
  --color--foreground--lightest: var(--whiteish);
  --color--background--darkest: var(--blackish);
  --color--background--light: var(--gray--dark);
  --color--background--lighter: var(--gray--light);
  --color--background--lightest: var(--whiteish);
  --color--hover: color(var(--color--primary) lightness(50%));
  --color--insert: var(--green);
  --color--mark: var(--yellow);
  --color--success: var(--green);
  --color--warning: var(--orange);
}
