:root {
  /* =====================================
   * Component Variables
   * =====================================
   */

  /* ASIDE */
  --aside--width--desktop: 28.8rem;

  /* BANNER */
  --banner--background-color: var(--color--primary);
  --banner--color: var(--color--foreground--lightest);
  --banner--padding: 1.6rem 0;

  /* FOOTER */
  --footer--background-color: var(--color--primary);
  --footer--color: var(--color--foreground--lightest);

  /* GENERIC */
  --component--width--max: 100vw;
  --component--padding: 0.8rem;
  --page--width: 100vw; /* TODO: move to root styles */

  /* MAIN */
  --main--width--desktop: 67.2rem;

  /* NAVBAR */
  --navbar__anchor--color: var(--color--foreground--lightest);
  --navbar__anchor--color--hover: var(--color--primary);
  --navbar--background-color: var(--black);
  --navbar--color: var(--color--foreground--lightest);
  --navbar__content--width--max: 96rem;
  --navbar--height: 6rem;
  --navbar--height--desktop: 6rem;
  --navbar--padding-right: 1.6rem;
}
