:root {
  /* =====================================
   * Object Variables
   * =====================================
   */

  /* INPUT */
  --inputFocusedBackgroundColor: var(--white);
  --inputFocusedColor: var(--darkGray);
  --inputInvalidFocusedPlaceholderColor: var(--lighterContrastBGColor);
  --inputInvalidBorder: 0.2rem solid var(--errorColor);
  --inputInvalidPlaceholderColor: var(--errorColor);
  --inputValidBorder: 0.2rem solid var(--successColor);
}

