:root {
  /* =====================================
   * Typography Variables
   * =====================================
   */
  --base--font-family: var(--typeface--text), var(--typeface--ui), var(--typeface--system);
  --base--font-size: 1.6rem;
  --base--line-height: 1.6;
  --root--font-size: 62.5%;
  --typeface--system: system-ui;
  --typeface--text: Nunito;
  --typeface--ui: Quicksand;

  /* HEADINGS */
  --h1--font-size: 2.6179em;
  --h2--font-size: 2.058em;
  --h3--font-size: 1.618em;
  --h4--font-size: 1.272em;
  --h5--font-size: 1em;
  --h6--font-size: 0.7862em;
  --heading--font: var(--typeface--ui), var(--typeface--system);
  --heading--line-height: 1.272;
  --heading--margin: 0 0 var(--element--margin-bottom);

  /* INLINE */
  --inline--border-radius: 0.2rem;
  --code--padding: 0.1rem 0.4rem;
  --pre--padding: 1rem; /* TODO:`pre` is not an inline element by default */
  --paragraph--font-size: 1em;
  --paragraph--margin: 0 0 var(--element--margin-bottom);
  --small--font-size: var(--h6--font-size);
}
