dist/demo.html
docs/
node_modules/
src/
tests/
tmp/
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.postcssrc.js
.prettierrc
.travis.yml
babel.config.js
jest.config.js
jsconfig.json
vue.config.js
npm-debug.log

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsprojdddd
*.sln
