/* =====================================
 * Container
 * =====================================
 * A padded wrapper
 *
 * Max Specifity: 10 (0-1-0)
 */
.container {
  margin: 0 auto;
  max-width: 98rem;
  padding: 0.8rem;
}
