/* =====================================
 * Button Styles
 * =====================================
 * Apply to style buttons, e.g.:
 *
 * button[type="reset"] {
 *   @apply --button-button;
 * }
 */
:root {
  --button-style: {
    background-color: var(--defaultColor);
    border: 0;
    border-radius: 0.5rem;
    color: var(--lightestContrastBGColor);
    font-weight: 700;
    margin-bottom: var(--elementDefaultBottomMargin);
    padding: 1rem 1.5rem;
  }

  --button-style--not-active: {
    outline: 0;
  }

  --button-style--not-disabled--focused: {
    color: var(--white);
    background-color: var(--blue);
  }

  --button-style--disabled: {
    color: var(--darkGray);
    background-color: var(--lightGray);
    cursor: not-allowed;
  }
}
