/* =====================================
 * Centered
 * =====================================
 * Apply to make an element a flex
 * continainer that centers its children
 *
 * .centered {
 *   @apply --centered;
 * }
 */
:root {
  --centered: {
    align-items: center;
    display: flex;
    justify-content: center;
  };
}
