/* =====================================
 * Input Button Styles
 * =====================================
 * Apply to style input buttons, e.g.:
 *
 * input[type="reset"] {
 *   @apply --input-button;
 * }
 */
:root {
  --input-button-style: {
    background-color: transparent;
    border: var(--defaultBorder);
    border-radius: 0.5rem;
    color: var(--defaultColor);
    font-weight: 700;
    margin-bottom: var(--elementDefaultBottomMargin);
    min-width: 0;
    padding: 0 1.5rem;
    transition: all 0.2s ease-in;
    width: auto;
  }

  --input-button-style--focus: {
    border: 0.2rem solid var(--defaultColorHover);
    background-color: transparent;
    color: var(--defaultColorHover);
  }

  --input-style--disabled: {
    color: var(--lighterContrastBGColor);
    background-color: transparent;
    border: 0.2rem solid var(--lighterContrastBGColor);
    cursor: not-allowed;
  }
}
