/* =====================================
 * Input Button Styles
 * =====================================
 * Apply to style input buttons, e.g.:
 *
 * input[type="reset"] {
 *   @apply --input-button;
 * }
 */
:root {
  --input-button-style: {
    background-color: transparent;
    border: var(--border);
    border-radius: 0.5rem;
    color: var(--color);
    font-weight: 700;
    margin-bottom: var(--element--margin-bottom);
    min-width: 0;
    padding: 0 1.5rem;
    transition: all 0.2s ease-in;
    width: auto;
  }

  --input-button-style--not-disabled--active: {
    border: 0.2rem solid var(--color--success);
    color: var(--color--success);
    transform: scale(0.95, 0.95);
    transition: all 0ms;
  }

  --input-button-style--not-disabled--focus: {
    outline: none;
  }

  --input-button-style--not-disabled--hover: {
    border: 0.2rem solid var(--color--hover);
    color: var(--color--hover);
  }

  --input-style--disabled: {
    background-color: transparent;
    border: 0.2rem solid var(--color--foreground--lighter);
    color: var(--color--foreground--lighter);
    cursor: not-allowed;
  }
}
