/* =====================================
 * Normalys
 * =====================================
 * These contains rule-sets that are too
 * simple to have their own files.
 *
 * Max Specifity: 11 (0-1-1)
 */
html {
  color: var(--blackish--light);
  font-family: var(--base--font-family);
  font-size: var(--root--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  line-height: var(--base--line-height);
  max-width: 100%;
}

blockquote,
dl,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  overflow: auto;
}

p {
  font-size: var(--paragraph--font-size);
  margin: var(--paragraph--margin);
}

sub {
  bottom: -0.07em;
}

pre {
  background: var(--color--foreground--lightest);
  border-radius: var(--pre--border-radius);
  overflow-x: auto;
  padding: var(--pre--padding);
}

iframe {
  border: var(--border--thin--light);
  width: 100%;
}

svg {
  fill: var(--color--primary);
}

audio,
video {
  max-width: 100%;
}

::selection {
  background: var(--color--primary);
  color: var(--color--foreground--lightest);
}

::-webkit-scrollbar {
  background-color: var(--color--foreground--lighter);
  height: 0.8rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color--foreground--light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color--hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color--foreground--light);
}
