/* =====================================
 * Inputs (Checkbox)
 * =====================================
 * Applies the "mixins" for inputs with
 * type "checkbox"
 *
 * Max Specifity: 21 (0-2-1)
 */
input[type="checkbox"] {
  height: 2rem;
  position: relative;
  top: 0.4rem;
  width: 2rem;

  &:focus {
    outline: 0.1rem dotted var(--blue);
  }

  &:checked {
    background-color: var(--color);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    border: 0.1rem solid var(--color);
  }
}
