/* =====================================
 * Inputs (Color)
 * =====================================
 * Pops open a color picker when color
 * swatch is activated
 *
 * Max Specifity: 21 (0-2-1)
 */
input[type="color"] {
  height: 3.1rem;
  padding: 0.5rem;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: var(--border-radius);
  }

  &:disabled {
    opacity: 0.5;
  }
}
