/* =====================================
 * Inputs (Disabled)
 * =====================================
 * Applies the "mixins" for inputs that
 * are disabled
 *
 * Max Specifity: 11 (0-1-1)
 */
input[disabled],
input:disabled {
  background-color: var(--lightestContrastBGColor);
  border: 0.2rem solid var(--lightestContrastBGColor);
  color: var(--lightGray);
  cursor: not-allowed;
}
