/* =====================================
 * Inputs (Disabled)
 * =====================================
 * Applies the "mixins" for inputs that
 * are disabled
 *
 * Max Specifity: 11 (0-1-1)
 */
input[disabled],
input:disabled {
  background-color: var(--color--background--lightest);
  border: 0.2rem solid var(--color--foreground--lightest);
  color: var(--color--foreground--lighter);
  cursor: not-allowed;
}
