/* =====================================
 * Input (file)
 * =====================================
 * Applies the "mixins" for inputs with
 * type "file"
 */
input[type="file"] {
  color: var(--lighterContrastBGColor);
  padding: 0.5rem;
  position: relative;

  &:focus {
    border: 0.2rem solid var(--lighterContrastBGColor);
  }

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: attr(title);
    display: inline-block;
    padding: 1rem;
    background-color: var(--defaultColor);
    border-radius: var(--defaultBorderRadius) 0 0 var(--defaultBorderRadius);
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    color: var(--white);
  }

  &:active::before,
  &:focus::before,
  &:hover::before {
    background-color: var(--defaultColorHover);
  }
}
