/* =====================================
 * Inputs (Range)
 * =====================================
 * Draggable knob for number values
 *
 * Max Specifity: 32 (0-3-2)
 */
input[type="range"] {
  appearance: none;
  border: none;
  outline: none;
  vertical-align: middle;

  /* -------------------------------------
  * Chrome, Safari, Opera
  * -------------------------------------
  */
  &::-webkit-slider-runnable-track {
    background: var(--color--foreground--lightest);
    border: none;
    border-radius: var(--border-radius);
    cursor: default;
    height: 1rem;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: var(--color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin-top: -0.5rem;
    width: 2rem;
  }

  /* -------------------------------------
  * Firefox
  * -------------------------------------
  */
  &::-moz-range-thumb {
    background: var(--color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
  }

  &::-moz-range-track {
    background: var(--color--foreground--lightest);
    border-radius: var(--border-radius);
    border: none;
    cursor: default;
    height: 1rem;
    width: 100%;
  }

  /* -------------------------------------
  * Edge
  * -------------------------------------
  */
  &::-ms-fill-lower {
    background: var(--color--foreground--lightest);
    border-radius: var(--border-radius);
  }

  &::-ms-fill-upper {
    background: var(--color--foreground--lightest);
    border: none;
    border-radius: var(--border-radius);
  }

  &::-ms-thumb {
    background: var(--color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin-top: 0;
    width: 2rem;
  }

  &::-ms-track {
    background: transparent;
    border: 0;
    color: transparent;
    cursor: pointer;
    height: 1rem;
    width: 100%;
  }

  &:hover {
    &::-webkit-slider-thumb {
      background-color: var(--color--hover);
    }

    &::-moz-range-thumb {
      background-color: var(--color--hover);
    }

    &::-ms-thumb {
      background-color: var(--color--hover);
    }
  }

  &:active {
    &:not(:disabled) {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: var(--color--foreground--lighter);
      }

      &::-moz-range-track {
        background: var(--color--foreground--lighter);
      }

      &::-ms-fill-lower {
        background: var(--color--foreground--lighter);
      }

      &::-ms-fill-upper {
        background: var(--color--foreground--lighter);
      }
    }
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    cursor: not-allowed;

    &::-webkit-slider-runnable-track {
      background: var(--color--foreground--lighter);
      cursor: not-allowed;
    }

    &::-webkit-slider-thumb {
      background: var(--color--foreground--light);
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      background: var(--color--foreground--light);
      cursor: not-allowed;
    }

    &::-moz-range-track {
      background: var(--color--foreground--lighter);
      cursor: not-allowed;
    }

    &::-ms-thumb {
      background: var(--color--foreground--light);
      cursor: not-allowed;
    }

    &::-ms-track {
      background: var(--color--foreground--lighter);
      cursor: not-allowed;
    }
  }
}
