/* =====================================
 * Inputs (Search)
 * =====================================
 * Applies the "mixins" for inputs with
 * type "search"
 */
input[type="search"],
input[type="search"]:not(:disabled) {
  appearance: textfield;
  box-sizing: content-box;
  height: 3.8rem;
}
