// =====================================
// Button Styles
// =====================================
// DEFAULT
@mixin button-style() {
  background-color: $color--primary;
  border: 0;
  border-radius: 0.2rem;
  color: $color--foreground--lightest;
  font-weight: 700;
  padding: 0.6em 1.2em;
  transition: all 0.2s ease-in;
}

@mixin button-style--not-active() {
  outline: none;
}

@mixin button-style--not-disabled--active() {
  background-color: $color--success;
  transform: scale(0.95, 0.95);
  transition: all 0ms;
}

@mixin button-style--not-disabled--focused() {
  outline: 0.125em dotted $color--primary;
}

@mixin button-style--not-disabled--hover() {
  background-color: $color--hover;
  color: $white;
}

@mixin button-style--disabled() {
  background-color: $color--background--lighter;
  color: $color--foreground--light;
  cursor: not-allowed;
}

// FLAT
@mixin button-style--flat() {
  background-color: transparent;
  border: 0.125em solid transparent;
  border-radius: $border-radius;
  color: $color--primary;
  cursor: default;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.6em 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

@mixin button-style--flat--active() {
  border: 0.125em solid $color--success;
  background: none;
  color: $color--success;
  transition: all 0ms;
}

@mixin button-style--flat--focused() {
  outline: 0.125em dotted $color--primary;
}

@mixin button-style--flat--disabled() {
  color: $color--foreground--lighter;
  cursor: not-allowed;
}

@mixin button-style--flat--hovered() {
  background: none;
}
