// =====================================
// Form Styles
// =====================================
@mixin form-input-style() {
  background-color: transparent;
  border: $textfield--border;
  border-radius: $rounded-rectangle--margin;
  height: $textfield--height;
  outline: none;
  padding: 0 0.6em;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
}

@mixin form-input-disabled() {
  background-color: $color--background--lightest;
  border: 0.2rem solid $color--foreground--lightest;
  color: $color--foreground--lighter;
  cursor: not-allowed;
}
