// =====================================
// Hover Style
// =====================================
@mixin hover-style() {
  &:hover {
    /* Firefox and IE has no support for @media (hover: hover) */
    background-color: $color--hover;
    color: $white;

    @media (hover: none) {
      background-color: $color--primary;
      color: $color--foreground--lightest;
    }

    @media (hover: hover), (hover: on-demand) {
      background-color: $color--hover;
      color: $white;
    }
  }
}
