// =====================================
// Input Button Styles
// =====================================

@mixin input-button-style() {
  background-color: transparent;
  border: $border;
  border-radius: 0.5rem;
  color: $color--primary;
  font-weight: 700;
  margin-bottom: $element--margin-bottom;
  min-width: 0;
  padding: 0 1.5rem;
  transition: all 0.2s ease-in;
  width: auto;
}

@mixin input-button-style--not-disabled--active() {
  border: 0.2rem solid $color--success;
  color: $color--success;
  transform: scale(0.95, 0.95);
  transition: all 0ms;
}

@mixin input-button-style--not-disabled--focus() {
  outline: none;
}

@mixin input-button-style--not-disabled--hover() {
  border: 0.2rem solid $color--hover;
  color: $color--hover;
}

@mixin input-style--disabled() {
  background-color: transparent;
  border: 0.2rem solid $color--foreground--lighter;
  color: $color--foreground--lighter;
  cursor: not-allowed;
}
