// =====================================
// Screen Reader Only
// =====================================
@mixin sr-only() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}
