/* =====================================
 * Anchor-buttons
 * =====================================
 * Applies the "mixins" for anchor
 * elements with class "btn"
 *
 * Max Specifity: 31 (0-3-1)
 */
a.btn {
  background-color: transparent;
  border-radius: var(--border-radius);
  cursor: default;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in;

  &:hover {
    /* Firefox and IE has no support for @media (hover: hover) */
    background-color: var(--color--hover);
    color: var(--white);

    @media (hover: none) {
      background-color: var(--color);
      color: var(--color--foreground--lightest);
    }

    /* For modern browsers
    @media (hover: hover), (hover: on-demand) {
      background-color: var(--color--hover);
      color: var(--white);
    } */
  }

  &:active {
    background-color: var(--color--success);
    color: var(--color--foreground--lightest);
    transition: all 0ms;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    color: var(--color--foreground--lighter);
    cursor: not-allowed;
  }

  &.disabled:hover {
    background: none;
  }
}
