/* =====================================
 * Anchor-buttons
 * =====================================
 * Applies the "mixins" for anchor
 * elements with class "btn"
 *
 * Max Specifity: 31 (0-3-1)
 */
a.btn {
  background-color: transparent;
  border-radius: var(--border-radius);
  cursor: default;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: var(--element--margin-bottom);
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in;

  /* @apply --hover-style */

  &:active {
    background-color: var(--color--success);
    color: var(--color--foreground--lightest);
    transition: all 0ms;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    color: var(--color--foreground--lighter);
    cursor: not-allowed;
  }

  &.disabled:hover {
    background: none;
  }
}
