/* =====================================
 * Aside
 * =====================================
 * Appears below the main content for
 * smaller screens and beside the main
 * content for desktops
 */
aside[role="complementary"] {
  grid-area: aside;
  max-width: var(--componentMaxWidthDefault);
  padding: 0 var(--componentPaddingDefault);

  @media (--vpPhone) {
    padding: 0;
  }
}
