/* =====================================
 * Aside
 * =====================================
 * Appears below the main content for
 * smaller screens and beside the main
 * content for desktops
 */
aside[role="complementary"] {
  padding: var(--componentPaddingDefault);
  grid-area: aside;
  max-width: 92vw;
}
