/* =====================================
 * Banner
 * =====================================
 * Appears at the top of page and
 * contains the only level 1 heading
 * element indicating the page's title.
 * On small screens, the banner is not
 * visible
 */
header[role="banner"] {
  background-color: var(--bannerBackgroundColor);
  color: var(--bannerColor);
  display: none;
  grid-area: header;
  justify-self: stretch;
  padding: var(--bannerPadding);
  text-align: center;

  @media (--vpPhone) {
    display: block;
  }
}
