/* =====================================
 * Banner
 * =====================================
 * Appears at the top of page and
 * contains the only a level 1 heading
 * element indicating the page's title.
 * On small screens, the banner is not
 * visible
 *
 * Max Specifity: 11 (0-1-1)
 */
header[role="banner"] {
  background-color: var(--banner--background-color);
  color: var(--banner--color);
  display: none;
  padding: var(--banner--padding);
  text-align: center;
  user-select: none;
  width: var(--component--width--max);
  max-width: 100%;

  & h1 {
    color: var(--banner--color);
  }

  @media (--vpPhone) {
    display: block;
  }
}
