/* =====================================
 * Footer
 * =====================================
 * Appears at the bottom of the page.
 * Contains information about the current
 * page or domain.
 */
footer[role="contentinfo"] {
  align-self: stretch;
  background-color: var(--footerBackgroundColor);
  color: var(--footerColor);
  grid-area: footer;
  text-align: center;

  & a,
  & a:hover {
    color: var(--footerColor);
  }
}

/* footer[role="contentinfo"] a,
footer[role="contentinfo"] a:hover {
  color: var(--footerColor);
} */
