/* =====================================
 * Footer
 * =====================================
 * Appears at the bottom of the page.
 * Contains information about the current
 * page or domain.
 *
 * Max Specifity: 22 (0-2-2)
 */
footer[role="contentinfo"] {
  align-self: stretch;
  background-color: var(--footerBackgroundColor);
  color: var(--footerColor);
  grid-area: footer;
  padding: 2rem;
  text-align: center;
  max-width: 100%;

  & a,
  & a:hover {
    color: var(--footerColor);
  }
}
