/* =====================================
 * Footer
 * =====================================
 * Appears at the bottom of the page
 */
footer[role="contentinfo"] {
  text-align: center;
  align-self: stretch;
  color: var(--footerColor);
  background-color: var(--footerBackgroundColor);
  grid-area: footer;
}
