header[role="banner"] {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 1.6rem 0;
  display: none;
  grid-area: header;
  justify-self: stretch;

  @media (--vpPhone) {
    display: block;
  }
}
