header[role="banner"] {
  background-color: var(--blue);
  color: var(--white);
  margin: 0 auto;
  text-align: center;
  padding: 1.6rem 0;
  display: none;
}

@media (--vpPhone) {
  header[role="banner"] {
    display: block;
  }
}
