/* =====================================
 * Main
 * =====================================
 * The main content of the page. Also
 * the target of the "Skip to main
 * content" anchor tag
 *
 * Max Specifity: 11 (0-1-1)
 */
main[role="main"] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 var(--component--padding);

  @supports (display: grid) {
    grid-area: main;
    width: calc(100% - (2 * var(--component--padding)));

    @media (--vpPhone) {
      width: var(--page--width);
      padding: 0;
    }
  }

  /* lt Edge 16 */
  @supports (display: -ms-grid) {
    display: block;
    padding: 0 var(--component--padding);
    max-width: 96rem;
  }

  /* lte IE 11 */
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    display: block;
    padding: 0 var(--component--padding);
    margin: 0 auto;
    max-width: 96rem;
  }
}
