nav[role="navigation"] {
  height: 6rem;
  background-color: var(--black);
  color: var(--white);
  grid-area: nav;
}

nav[role="navigation"] > ul {
  margin: 0 auto;
  padding-left: 0.8rem;
  max-width: 96rem;
  display: flex;
  justify-content: space-between;
}

nav[role="navigation"] > ul li:first-of-type {
  flex: 0.8;
}

nav[role="navigation"] > ul li {
  line-height: 6rem;
  flex-wrap: nowrap;
  padding-right: 1.6rem;
}

nav[role="navigation"] > ul li a {
  text-decoration: none;
  color: var(--white);
}

nav[role="navigation"] > ul li :not(a) {
  display: none;
}

nav[role="navigation"] > ul li a:hover {
  text-decoration: none;
  color: var(--blue);
  background-color: transparent;
}
