/* =====================================
 * Navbar
 * =====================================
 * Appears below the banner (if visible)
 * or as the first component in smaller
 * screens. Contains links to different
 * parts of the current page or to other
 * external resource.
 */
nav[role="navigation"] {
  background-color: var(--navbarBackgroundColor);
  color: var(--navbarColor);
  font-weight: 700;
  width: var(--componentMaxWidthDefault);
  max-width: 100%;

  @supports (display: grid) {
    grid-area: nav;
  }

  & > ul {
    display: flex;
    margin: 0 auto;
    max-width: var(--navbarContentWidth);
    padding-left: var(--componentPaddingDefault);
    justify-content: space-between;

    & li {
      flex-wrap: nowrap;
      line-height: var(--navbarHeightDefault);
      padding-right: var(--navbarItemRightPadding);

      &:first-of-type {
        flex: 0.8;
      }

      & a {
        color: var(--navbarAnchorColor);
        text-decoration: none;

        &:hover {
          background-color: transparent;
          color: var(--navbarAnchorColorHover);
          text-decoration: none;
        }
      }

      & :not(a) {
        display: none;
      }
    }
  }
}
