/* =====================================
 * Navbar
 * =====================================
 * Appears below the banner (if visible)
 * or as the first component in smaller
 * screens. Contains links to different
 * parts of the current page or to other
 * external resource.
 *
 * Max Specifity: 24 (0-2-4)
 */
nav[role="navigation"] {
  background-color: var(--navbar--background-color);
  color: var(--navbar--color);
  font-weight: 700;
  width: var(--component--width--max);
  max-width: 100%;

  @supports (display: grid) {
    grid-area: nav;
  }

  & > ul {
    display: flex;
    margin: 0 auto;
    max-width: var(--navbar__content--width--max);
    padding-left: var(--component--padding);
    justify-content: space-between;

    & li {
      flex-wrap: nowrap;
      line-height: var(--navbar--height);
      padding-right: var(--navbar--padding-right);

      &:first-of-type {
        flex: 0.8;
      }

      & a {
        color: var(--navbar__anchor--color);
        text-decoration: none;

        &:hover {
          background-color: transparent;
          color: var(--navbar__anchor--color--hover);
          text-decoration: none;
        }
      }

      & :not(a) {
        display: none;
      }
    }
  }
}
