// =====================================
// Body
// =====================================
// The body will act as the page's "Grid
// Container".
// -------------------------------------
body {
  color: $color--foreground--darkest;
  font-size: $base--font-size;
  max-width: 100%;
}
