// =====================================
// Form
// =====================================
// Elements which should (preferably) be
// present inside a `form` element.
// -------------------------------------
fieldset {
  border: $fieldset--border;
  border-radius: $fieldset--border-radius;
  margin: 0;
  margin-bottom: $element--margin-bottom;
  padding-top: $fieldset--padding-top;
  position: relative;

  & legend {
    display: block;
    font-family: $fieldset__legend--font;
    font-size: $fieldset__legend--font-size;
    line-height: $heading--line-height;
    height: 1.272em;
    left: 1.2rem;
    overflow: hidden;
    position: absolute;
    right: 1.2rem;
    top: 0.8rem;
  }
}

label {
  display: block;
  font-weight: $label--font-weight;
}

input,
textarea,
select {
  background-color: transparent;
  border: $textfield--border;
  border-radius: $rounded-rectangle--margin;
  height: $textfield--height;
  outline: none;
  padding: 0 1rem;
}

button,
input,
select,
textarea {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  box-sizing: border-box;
  min-height: $textarea--min-height;
  padding: $textarea--padding;
  width: 100%;
}

select {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#dbd6d0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>")
    no-repeat right 1rem center;

  &:focus {
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#0579c6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>")
      no-repeat right 1rem center;
  }

  &:active {
    background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#0579c6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='18 15 12 9 6 15'/></svg>")
      no-repeat right 1rem center;
  }

  &:disabled {
    color: $color--foreground--lighter;
    cursor: not-allowed;
  }
}

input:focus,
textarea:focus,
select:focus {
  background-color: $textfield--background-color--focus;
  border: $textfield--border--focus;
}

input[required]:valid {
  background-color: transparent;
  border: $input--valid--border;
  color: $color--foreground--darkest;
  outline: none;
}

input:invalid {
  background-color: transparent;
  border: $input--invalid--border;
  color: $color--foreground--darkest;
  outline: none;

  &::placeholder {
    color: $input--placeholder--invalid--color;
  }

  &:focus {
    background-color: $input--background-color--focused;
    border: $input--invalid--border;
    color: $input--color--focused;

    &::placeholder {
      color: $input--placeholder--invalid--focused;
    }
  }
}
