// =====================================
// Inline
// =====================================
// Element that have a default display
// value of "inline"
// -------------------------------------
abbr,
acronym {
  cursor: help;
}

del {
  color: $color--delete;
}

ins {
  color: $color--insert;
}

mark {
  background-color: $color--mark;
  border-radius: $inline--border-radius;
}

code {
  background-color: $color--background--lightest;
  border-radius: $inline--border-radius;
  font-size: $small--font-size;
  padding: $code--padding;
  white-space: pre-line;
}
