// =====================================
// Link (Anchor)
// =====================================
// Allows navigation to other parts of
// the same web page or to another
// external domain.
// -------------------------------------
a {
  color: $color--primary;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}
