// =====================================
// Meter
// =====================================
// Provides a visual representation of a
// value with a known range
// -------------------------------------
meter {
  background: $color--background--lightest;
  border: none;
  border-radius: $border-radius;
  height: 2.4rem;
  width: 100%;

  &::-webkit-meter-bar {
    background: $color--background--lightest;
    border: 0;
    border-radius: 0.3rem;
  }

  &::-webkit-meter-optimum-value {
    background: $color--success;
    border-radius: 0.3rem;
  }

  &::-webkit-meter-suboptimum-value {
    background: $color--warning;
    border-radius: 0.3rem;
  }

  &::-webkit-meter-even-less-good-value {
    background: $color--error;
    border-radius: 0.3rem;
  }

  &::-moz-meter-bar {
    border-radius: 0.3rem;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: $color--success;
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: $color--warning;
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: $color--error;
  }
}
