/* =====================================
 * Elements (Base)
 * =====================================
 * These contains rule-sets that are too
 * simple to have their own files.
 */
html {
  font-family: var(--baseFont);
  font-size: var(--rootFontSize);
  height: 100%;
  line-height: var(--baseLineHeight);
}

p {
  font-size: var(--paragraphFontSize);
  margin: var(--paragraphMargin);
  overflow: auto;
}

del {
  color: var(--deleteColor);
}

ins {
  color: var(--insertColor);
}

mark {
  background-color: var(--markColor);
  border-radius: var(--inlineBorderRadius);
}

code {
  font-size: var(--smallerFontSize);
  background-color: var(--lightestContrastBGColor);
  border-radius: var(--inlineBorderRadius);
  padding: var(--inlineCodePadding);
  white-space: pre-line;
}

pre {
  background: var(--lightestContrastBGColor);
  overflow-x: auto;
  padding: var(--inlinePrePadding);
  border-radius: var(--inlineCodePadding);
}

abbr,
acronym {
  cursor: help;
}

iframe {
  border: var(--thinLightBorder);
  max-width: 100%;
}
