html {
  font-size: var(--rootFontSize);
  font-family: var(--baseFont);
  height: 100%;
  line-height: var(--baseLineHeight);
}

p {
  font-size: 1em;
  margin: 0 0 1.5rem;
}

del {
  color: var(--pink);
}

ins {
  color: var(--green);
}

mark {
  background-color: var(--candyCorn);
  border-radius: 0.2rem;
}

code {
  background-color: var(--whiteish);
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  white-space: pre-line;
}

pre {
  background: var(--whiteish);
  overflow-x: auto;
  padding: 1rem;
  border-radius: 0.3rem;
}

abbr,
acronym {
  cursor: help;
}

iframe {
  border: 0.1rem solid #dbd6d0;
  max-width: 100%;
}
