/* =====================================
 * Blockquotes
 * =====================================
 * Blockquotes have a thick "border" on
 * the left side and the texts inside it
 * are italicized.
 */
blockquote {
  background-color: var(--lightestContrastBGColor);
  border-left: var(--blockquoteLeftBorder);
  border-radius: var(--blockquoteBorderRadius);
  margin: var(--blockquoteMargin);
  padding: var(--blockquotePadding);
}

blockquote p {
  font-style: italic;
  margin-top: 0;
}

blockquote p:only-child {
  margin-bottom: 0;
}
