body {
  color: var(--blackish);
  font-size: var(--baseFontSize);
  display: grid;
  grid-template:
    "header" 1fr
    "nav"    6rem
    "main"   auto
    "aside"  auto
    "footer" auto
    / 100%;

  @media (--vpPhone) {
    display: grid;
    grid-template:
      "header header header header" 1fr
      "nav    nav    nav    nav"    6rem
      ".      aside  main   ."      auto
      "footer footer footer footer" auto
      / 1fr 28.8rem 67.2rem 1fr;
  }
}
