/* =====================================
 * Body
 * =====================================
 * The body will act as the page's "Grid
 * Container".
 *
 * Max Specifity: 1 (0-0-1)
 */
body {
  color: var(--color--foreground--darkest);
  font-size: var(--base--font-size);
  max-width: 100%;
}
