/* =====================================
 * Body
 * =====================================
 * The body will act as the page's "Grid
 * Container".
 */
body {
  color: var(--darkestContrastBGColor);
  font-size: var(--baseFontSize);
  display: grid;
  grid-gap: 0 var(--componentPaddingDefault);
  grid-template:
    "header" 1fr
    "nav"    var(--navbarHeightDefault)
    "main"   auto
    "aside"  auto
    "footer" auto
    / 1fr;

  @media (--vpPhone) {
    grid-template:
      "header header header header" 1fr
      "nav    nav    nav    nav"    var(--navbarHeightDesktop)
      ".      aside  main   ."      auto
      "footer footer footer footer" auto
      / 1fr var(--asideWidthDesktop) var(--mainWidthDesktop) 1fr;
  }
}
