/* =====================================
 * Figure
 * =====================================
 * Images, code, etc. inside figure
 * elements
 *
 * Max Specifity: 3 (0-0-3)
 */
figure {
  border: var(--figure__img--border);
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 0 auto var(--element--margin-bottom);
  overflow: hidden;
  padding: 0;
  max-width: fit-content;

  & > * {
    margin: 0.8rem;
  }

  & img {
    margin: 0;
    vertical-align: top;
    max-width: 100%;
  }

  & figcaption {
    background-color: var(--color);
    color: var(--color--foreground--lightest);
    font-weight: 300;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }

  /* lt Edge 16 */
  @supports (display: -ms-grid) {
    border-radius: 0;
    display: table;

    & > * ~ figcaption {
      caption-side: top;
    }

    & img ~ figcaption {
      caption-side: bottom;
    }

    & figcaption {
      border: var(--figure__img--border);
      display: table-caption;
    }
  }

  /* lte IE 11 */
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    border-radius: 0;
    display: table;
    max-width: 100%;

    & img {
      display: block;
      max-width: 96rem;
    }

    & > * ~ figcaption {
      caption-side: top;
    }

    & img ~ figcaption {
      caption-side: bottom;
    }

    & figcaption {
      border: var(--figure__img--border);
      display: table-caption;
    }
  }
}
