/* =====================================
 * Form
 * =====================================
 * Elements which are almost always
 * present inside a `form` element.
 */
fieldset {
  border: 0.4rem solid var(--blue);
  border-radius: 1rem;
  margin-bottom: var(--elementDefaultBottomMargin);
  padding-top: 4.2em;
  position: relative;
}

fieldset legend {
  font-family: 'Quicksand', var(--baseFont);
  font-size: 2.058em;
  position: absolute;
  top: 0;
}

label {
  display: block;
  margin-bottom: 1.25rem;
}

input,
textarea,
select {
  appearance: none;
  background-color: var(--whiteish);
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  height: 3.8rem;
  outline: 0;
  padding: 0 1rem;
  min-width: 30rem;
}

input[required]:valid {
  background-color: var(--green);
  border: 0.2rem solid var(--green);
  color: var(--whiteish);
  outline: 0;
}

input:invalid {
  background-color: var(--pink);
  border: 0.2rem solid var(--pink);
  color: var(--whiteish);
  outline: 0;
}

input:invalid::placeholder {
  color: var(--whiteish);
}

input:invalid:focus {
  border: 0.2rem solid var(--pink);
  background-color: var(--white);
  color: var(--darkGray);
}

input:invalid:focus::placeholder {
  color: var(--darkGray);
}

input:focus,
textarea:focus,
select:focus {
  border: 0.2rem solid var(--blue);
  background-color: var(--white);
}

textarea {
  appearance: none;
  min-height: 6.5rem;
  padding: 1rem;
  width: 100%;
}

button,
input,
select,
textarea {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

/* select {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='41' height='26' viewBox='0 0 41 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
} */
