/* =====================================
 * Form
 * =====================================
 * Elements which are almost always
 * present inside a `form` element.
 */
fieldset {
  border: 0.1rem solid var(--lightGray);
  border-radius: 0.3rem;
}

fieldset legend {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 1rem;
}

label {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  border: 0.1rem solid var(--lightGray);
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: 0;
}

input:invalid {
  border: 0.1rem solid var(--pink);
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  border: 0.1rem solid var(--blue);
}

textarea {
  min-height: 6.5rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
