h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.6179em;
}

h2 {
  font-size: 2.058em;
}

h3 {
  font-size: 1.618em;
}

h4 {
  font-size: 1.272em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.7862em;
}
