/* =====================================
 * Headings
 * =====================================
 * Headings are necessaray to produce a
 * Document Outline.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  margin: var(--headingMargin);
}

h1 {
  font-size: var(--h1FontSize);
}

h2 {
  font-size: var(--h2FontSize);
}

h3 {
  font-size: var(--h3FontSize);
}

h4 {
  font-size: var(--h4FontSize);
}

h5 {
  font-size: var(--h5FontSize);
}

h6 {
  font-size: var(--h6FontSize);
}
