/* =====================================
 * Inline
 * =====================================
 * Element that have a default display
 * value of "inline"
 *
 * Max Specifity: 1 (0-0-1)
 */
abbr,
acronym {
  cursor: help;
}

del {
  color: var(--color--delete);
}

ins {
  color: var(--color--insert);
}

mark {
  background-color: var(--color--mark);
  border-radius: var(--inline--border-radius);
}

code {
  background-color: var(--color--foreground--lightest);
  border-radius: var(--inline--border-radius);
  font-size: var(--small--font-size);
  padding: var(--code--padding);
  white-space: pre-line;
}
