/* =====================================
 * Anchor
 * =====================================
 * Allows navigation to other parts of
 * the same web page or to another
 * external domain.
 *
 * Max Specifity: 11 (0-1-1)
 */
a {
  color: var(--color);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}
