/* =====================================
 * Anchor
 * =====================================
 * Allows navigation to other parts of
 * the same web page or to another
 * external domain.
 */
a {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:focus {
  outline: 0;
  text-decoration: underline;
}
