/* =====================================
 * Meter
 * =====================================
 * Provides a visual representation of a
 * value with a known range
 *
 * Max Specifity: 12 (0-1-2)
 */
meter {
  background: var(--lightestContrastBGColor);
  border: none;
  border-radius: var(--defaultBorderRadius);
  height: 2.4rem;
  width: 100%;

  &::-webkit-meter-bar {
    background: var(--lightestContrastBGColor);
    border: 0;
    border-radius: 0.3rem;
  }

  &::-webkit-meter-optimum-value {
    background: var(--successColor);
    border-radius: 0.3rem;
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--warningColor);
    border-radius: 0.3rem;
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--errorColor);
    border-radius: 0.3rem;
  }

  &::-moz-meter-bar {
    border-radius: 0.3rem;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--successColor);
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--warningColor);
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--errorColor);
  }
}
