/* =====================================
 * Progress Bars
 * =====================================
 * Progress Bars can either be:
 *   Incomplete (0% <= x < 100%)
 *   Complete (100%); or
 *   Indeterminate
 */
progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: var(--lightestContrastBGColor);
  border: var(--thinLightBorder);
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: var(--defaultBorderRadius);
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background-color: var(--defaultColor);
}
