/* =====================================
 * Progress Bars
 * =====================================
 * Progress Bars can either be:
 *   Incomplete (0% <= x < 100%)
 *   Complete (100%); or
 *   Indeterminate
 */
progress {
  appearance: none;
  border: none;
  border-radius: var(--defaultBorderRadius);
  display: inline-block;
  height: 2.4rem;
  width: 100%;

  &[value] {
    appearance: none;
    border: none;
    border-radius: var(--defaultBorderRadius);
    color: var(--defaultColor);
  }

  &::-webkit-progress-bar {
    background-color: var(--lightestContrastBGColor);
  }

  &::-webkit-progress-value {
    background-color: var(--defaultColor);
  }

  &::-webkit-progress-bar,
  &::-webkit-progress-value {
    border-radius: var(--defaultBorderRadius);
  }

  &::-moz-progress-bar,
  &::-webkit-progress-value {
    background-color: var(--defaultColor);
  }

  &:indeterminate {
    &::-webkit-progress-bar {
      background-image:
        linear-gradient(
          -45deg,
          transparent
          33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent
          66%
        ),
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.25),
          rgba(0, 0, 0, 0.25)
        ),
        linear-gradient(
          90deg,
          var(--defaultColor),
          var(--errorColor)
        );
      background-size: 3.5rem 2.4rem, 100% 100%, 100% 100%;
      border-radius: 2px;
    }

    &::-moz-progress-bar {
      animation: animate-stripes 5s linear infinite;
      background-image:
        linear-gradient(
          -45deg,
          transparent
          33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent
          66%
        ),
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.25),
          rgba(0, 0, 0, 0.25)
        ),
        linear-gradient(
          90deg,
          var(--defaultColor),
          var(--errorColor)
        );
      background-size: 3.5rem 2.4rem, 100% 100%, 100% 100%;
      border-radius: 2px;
    }
  }
}

@keyframes animate-stripes {
  100% { background-position: 100% 0; }
}
