/* =====================================
 * Blockquotes
 * =====================================
 * Blockquotes have a thick "border" on
 * the left side and the texts inside it
 * are italicized.
 */
blockquote {
  background-color: var(--whiteish);
  padding: 1em;
  border-left: 1rem solid var(--lightGray);
  border-radius: 1rem;
  margin: 0 2rem 1.5rem;
}

blockquote p {
  font-style: italic;
  margin-top: 0;
}

blockquote p:only-child {
  margin-bottom: 0;
}
