/* =====================================
 * Tables
 * =====================================
 * Table `caption`s are centered and
 * have no background, unlike `thead`
 * and `tfoot`. Table cell borders are
 * only present at the bottom of each
 * cell.
 */
table {
  font-size: var(--tableFontSize);
  border-collapse: collapse;
  width: 100%;
  margin-bottom: var(--elementDefaultBottomMargin);
}

th,
td {
  text-align: left;
  border: 0;
}

th {
  background-color: var(--lightestContrastBGColor);
}

table > caption {
  font-weight: 600;
  border: 0.2rem solid transparent;
  letter-spacing: 0.05rem;
  color: var(--darkestContrastBGColor);
}

thead th,
tfoot th {
  background-color: var(--defaultColor);
  color: var(--lightestContrastBGColor);
}

tbody tr {
  border-bottom: var(--tableRowBottomBorder);
}
