/* =====================================
 * Tables
 * =====================================
 * Table `caption`s are centered and
 * have no background, unlike `thead`
 * and `tfoot`. Table cell borders are
 * only present at the bottom of each
 * cell.
 *
 * Max Specifity: 12 (0-1-2)
 */
table {
  border-collapse: collapse;
  display: block;
  font-size: var(--table--font-size);
  margin: 0 auto;
  margin-bottom: var(--element--margin-bottom);
  max-width: 100%;
  overflow-x: auto;
  width: fit-content;

  & > caption {
    border: 0.2rem solid transparent;
    color: var(--color--foreground--darkest);
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
}

th {
  background-color: var(--color--foreground--lightest);
  text-transform: uppercase;

  @nest thead &,
  tfoot & {
    background-color: var(--color);
    color: var(--color--foreground--lightest);
  }
}

td,
th {
  border: 0;
  text-align: left;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: none;
  }
}

tbody {
  & tr {
    border-bottom: var(--table__tr--border-bottom);
  }

  & tr:last-child {
    border-bottom: 0;
  }
}
