/* =====================================
 * Tables
 * =====================================
 * Table `caption`s are centered and
 * have no background, unlike `thead`
 * and `tfoot`. Table cell borders are
 * only present at the bottom of each
 * cell.
 */
table {
  border-collapse: collapse;
  display: block;
  font-size: var(--tableFontSize);
  margin: 0 auto;
  margin-bottom: var(--elementDefaultBottomMargin);
  max-width: 100%;
  overflow-x: auto;
  width: fit-content;

  & > caption {
    font-weight: 600;
    border: 0.2rem solid transparent;
    letter-spacing: 0.05rem;
    color: var(--darkestContrastBGColor);
  }
}

th {
  text-transform: uppercase;
  background-color: var(--lightestContrastBGColor);

  @nest thead &,
  tfoot & {
    background-color: var(--defaultColor);
    color: var(--lightestContrastBGColor);
  }
}

td,
th {
  border: 0;
  padding: 0.5rem 1rem;
  text-align: left;
  white-space: nowrap;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: none;
  }
}

tbody {
  & tr {
    border-bottom: var(--tableRowBottomBorder);
  }

  & tr:last-child {
    border-bottom: 0;
  }
}
