// =====================================
// Color Pallette
// =====================================
// Names of hex values as variable
// identifiers
// -------------------------------------
$black: #000;
$candy-corn: #fbe655;
$carnation: #f35667;
$cerise: #da49b2;
$cod-gray: #171717;
$crusta: #fd763f;
$dove-gray: #666;
$gallery: #efefef;
$jungle-green: #2eaa86;
$lochmara: #0579c6;
$thunderbird: #cf1b1a;
$tundora: #4a4a4a;
$tundora--light: #444;
$westar: #dbd6d0;
$white: #fff;

// =====================================
// Color Pallette (Simple)
// =====================================
// Color names approximated to simpler
// names
// -------------------------------------
$blackish: $cod-gray;
$blackish--light: $tundora--light;
$blackish--lighter: $dove-gray;
$blue: $lochmara;
$gray--dark: $tundora;
$gray--light: $westar;
$green: $jungle-green;
$orange: $crusta;
$pink: $carnation;
$purple: $cerise;
$red: $thunderbird;
$whiteish: $gallery;
$yellow: $candy-corn;

// =====================================
// Color Aliases
// =====================================
// Elements color property values should
// prefer to use these instead of above
// -------------------------------------
$color--primary: $blue;
$color--delete: $pink;
$color--error: $pink;
$color--foreground--darkest: $blackish;
$color--foreground--darker: $blackish--light;
$color--foreground--dark: $blackish--lighter;
$color--foreground--light: $gray--dark;
$color--foreground--lighter: $gray--light;
$color--foreground--lightest: $whiteish;
$color--background--darkest: $blackish;
$color--background--light: $gray--dark;
$color--background--lighter: $gray--light;
$color--background--lightest: $whiteish;
$color--hover: lighten($color--primary, 50%);
$color--insert: $green;
$color--mark: $yellow;
$color--success: $green;
$color--warning: $orange;
