// =====================================
// Element Variables
// =====================================

// TEXTFIELD
$textfield--background-color--focus: none;
$textfield--border: 0.125em solid $color--foreground--lighter;
$textfield--border--focus: $border;
$textfield--height: 2em;
