// =====================================
// Object Variables
// =====================================

// INPUT
$input--background-color--focused: none;
$input--color--focused: $color--foreground--light;
$input--invalid--border: 0.125em solid $color--error;
$input--placeholder--invalid--color: $color--error;
$input--placeholder--invalid--focused: $color--foreground--lighter;
$input--valid--border: 0.125em solid $color--success;
