// =====================================
// Typography Variables
// =====================================
$typeface--system: system-ui;
$typeface--text: Nunito;
$typeface--ui: Quicksand;

// =====================================
// Aliases
// =====================================
// Typography property values should
// prefer to use these instead of above
// -------------------------------------
$base--font-family: $typeface--text, $typeface--ui, $typeface--system;
$base--font-size: 1.6rem;
$base--line-height: 1.4;
$root--font-size: 62.5%;
$element--margin-bottom: 1.5157rem;

// =====================================
// Headings
// =====================================
$h1--font-size: 2em;
$h2--font-size: 1.7511em;
$h3--font-size: 1.5157em;
$h4--font-size: 1.3195em;
$h5--font-size: 1.1487em;
$h6--font-size: 1em;
$heading--font: $typeface--ui, $typeface--system;
$heading--line-height: 1.272;
$heading--margin: 0 0 $element--margin-bottom;

// =====================================
// Inline
// =====================================
$inline--border-radius: 0.2rem;
$code--padding: 0.1rem 0.4rem;
$paragraph--font-size: 1em;
$paragraph--margin: 0 0 $element--margin-bottom;
$small--font-size: 80%;
$s-script--font-size: 75%;

// =====================================
// Block
// =====================================
$pre--padding: 1rem;
$pre--border-radius: 0.4rem;
