// =====================================
// Container
// =====================================
// A padded wrapper
// -------------------------------------
.container {
  margin: 0 auto;
  max-width: 98rem;
  padding: 0.8rem;
}
