// =====================================
// Input (file)
// =====================================
// Applies the "mixins" for inputs with
// type "file"
// -------------------------------------
input[type='file'] {
  background-color: transparent;
  color: $color--foreground--light;
  cursor: inherit;
  display: block;
  height: 100%;
  outline: none;
  padding: 0.5rem;
  position: relative;
  right: 0;
  top: 0;
  width: calc(100% - 1.6rem);

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::-ms-value {
    border: 0;
    color: $color--foreground--light;
    padding: 0 1rem;
  }

  &::-ms-browse {
    background-color: $color--primary;
    border: 0.2rem solid transparent;
    border-radius: $border-radius;
    color: $color--foreground--lightest;
    font-weight: 700;
  }

  &::before {
    background-color: $color--primary;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color--foreground--lightest;
    content: attr(title);
    display: inline-block;
    font-weight: 700;
    left: -0.2rem;
    padding: 1rem;
    position: absolute;
    top: -0.2rem;
    transition: all 0.2s ease-in;
  }

  &:focus {
    border: 0.2rem solid $color--foreground--lighter;
  }

  &:disabled {
    color: $color--foreground--lighter;
    cursor: not-allowed;

    &::before,
    &:hover::before {
      background-color: $color--background--lighter;
    }

    &::-ms-browse {
      background-color: $color--background--lighter;
    }
  }

  &:hover:not(:disabled)::-ms-browse {
    @include button-style--not-disabled--hover();
  }

  &:hover:not(:disabled)::before {
    @include button-style--not-disabled--hover();
  }

  &:focus:not(:disabled)::before {
    @include button-style--not-disabled--focused();
  }

  &:active:not(:disabled)::before {
    @include button-style--not-disabled--active();
  }
}
